{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!--now we can simply access the form variable that we passed in throw the context to this template-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4s">BLOG POST</legend> <!--this will give our form a little bit more detail-->
                <!--Now lets just print out the form-->
                <!--{{ form.as_p }} .as_p -> that will render our form as paragraph tag-->
                {{ form|crispy }}
            </fieldset>
            <div class="from-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}